@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.prod-banner {
  background-color: white;
  height: max-content;
  color: black;
  font-family: "Poppins", sans-serif;
}
.prod-banner-h-t1,
.prod-banner-h-t2 {
  color: #eb5424;
  font-size: 50px;
  font-weight: 600;
  word-break: break-word;
  line-height: 1.2;
}
.prod-banner-h-t2 {
  color: #3d3d3d;
}
.product-banner-text {
  color: #5b5b5b;
}
.prod-banner-cont {
  color: #5b5b5b;
  font-size: 18px;
  line-height: normal;
}

.primary-btn {
  background-color: #eb5424 !important;
  margin: 1em 1em 1em 0;
  border-radius: 5px;
  color: #fff !important;
  cursor: pointer;
  border: none;
  letter-spacing: 0.02rem;
  display: flex;
  align-items: center;
}

.secondary-btn {
  background-color: #fff;
  margin: 1em 1em 1em 0;
  border-radius: 5px;
  color: #000 !important;
  cursor: pointer;
  letter-spacing: 0.13rem;
  font-weight: 600;
}

.sec-btn {
  border: 1px solid #eb5424 !important;
}

.prod-banner-img-section {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.prod-banner-img {
  height: max-content;
}

.prod-banner-expand-icon {
  width: 250px;
  display: flex;
  justify-content: center;
}

.prod-banner-list-div {
  margin-top: 5%;
}

@media (max-width: 600px) {
  .prod-banner-img {
    width: 90%;
  }
}
